<% layout('layouts/boilerplate')%>
    <h1 class="text-center mt-3" style="font-size:32px; font-weight:600;">중고거래 모든매물</h1>


    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-5 mt-5">
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <a href="/daangns/new" style="text-decoration: none; color:inherit;">내 물건 팔기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% for (let daangn of daangns) { %>

                            <div class="col-lg-3 col-md-4 col-sm-6 mb-5 pb-1">
                                <div class="row">
                                    <div class="col-10 offset-1">

                                        <div class="card" style="border:none;">

                                            <a href="/daangns/<%= daangn._id %>"><img src="<%= daangn.image %>"
                                                    class="card-img-top rounded" alt="..."
                                                    style="width:100%; height:27.1vh; object-fit:cover;"></a>

                                            <div class="card-body px-0 pb-0">
                                                <a href="/daangns/<%= daangn._id %>"
                                                    style="text-decoration: none; color:inherit;">
                                                    <h5 class="card-title">
                                                        <p class="card-text text-truncate"
                                                            style="font-size:16px; letter-spacing:-0.02px;">
                                                            <%= daangn.title %>
                                                        </p>
                                                    </h5>
                                                </a>
                                                <a href="/daangns/<%= daangn._id %>"
                                                    style="font-size:15px; font-weight:700; text-decoration: none; color:inherit;">
                                                    <%= daangn.price %>원
                                                </a>
                                                <br>
                                                <a href="/daangns/<%= daangn._id %>"
                                                    style="font-size:13px; text-decoration: none; color:inherit;">
                                                    <%= daangn.location %>
                                                </a>

                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>


                            <% }%>
                    </div>
                </div>
                </ul>
            </div>
        </div>
    </div>
    </div>